<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<h1>add category</h1>
<div class = 'form-group'>
    <form method = "POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class = 'btn btn-success'>add</button>
        <a href="{% url 'home' %}" type="button" class="btn btn-secondary">back</a>
    </form>
</div>







































{% endblock %}
</body>
</html>